# Игнорировать .env файл
.env

# Игнорировать виртуальное окружение
venv/

# Игнорировать временные файлы Python
__pycache__/
*.pyc
*.pyo

# Игнорировать IDE файлы (например, PyCharm или VS Code)
.vscode/
.idea/